html{
    background: -webkit-repeating-linear-gradient(45deg, red,black,white,black,red,white,black,red,white,red,black);
    height: 100%;
    position: relative;
    overflow: hidden;

}

.container{
    height: 400px;
    width: 400px;
    position: absolute;
   

    top:50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}


.pentagon{
  

    height: 94%;
    width: 94%;
    background:-webkit-repeating-linear-gradient(45deg, red,black,red,black,red,black,red,black);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0% 0% -47%;
    
   
   
    border-radius: 75px;
   


}




.spin{ 

    background:-webkit-repeating-linear-gradient(45deg, white,black,white,black,white,white,black);



    border-radius: 25px;

    transform: rotateZ(60deg)   ;


    transition-delay: 0.5s;

    animation: rotate 10s infinite linear;
}
 



@keyframes rotate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }	
}



/*

html{
    background-color: white;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.container{
    height: 500px;
    width: 500px;
    position: absolute;


    top:50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

*/

/*
.pentagon{



    width: 300px;
    height: 300px;
    position: relative;
    border: none;

    transform: rotateZ(60deg) ;

    background-color:  black;
      animation: rotate 10s infinite linear;

    border-radius: 25px;


}



*/
/*

.pentagon:before {

    box-sizing: content-box;
    width: 300px;
    height: 300px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: none;


    transform: rotateZ(30deg)   ;
    background-color: white;

    border-radius: 70px;

    animation: rotate 10s infinite linear;
}

*/
/*


.pentagon::after {



    box-sizing: content-box;

    width: 50px;
    height: 50px;
    position: absolute ;
    content: "";

    top: 15%;
    left:15%;


    background-color:black;


    border-radius:25px;

      animation: rotate 10s infinite linear;






}



.pentagon #black{ 

    background:black;

    animation: rotate 10s infinite linear;
}



@keyframes rotate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }	
}
*/



